In [ ]:
def keyword

In [9]:
def odd():
    l=[]
    for i in range(26):
        l.append(i) if i%2!=0 else l
    return l

In [10]:
odd()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [ ]:
*args used to take any number of inputs in function while calling 
**kwargs used to store any number of data in dictionary format otherwise key data format

In [11]:
def test1(*args):
    return args

In [12]:
test1(1,2,3,4,5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8)

In [13]:
test1(1,2,3,4,5,6,7,8,"Atri","car",90)

(1, 2, 3, 4, 5, 6, 7, 8, 'Atri', 'car', 90)

In [15]:
def test2(**kwargs):
    return kwargs

In [16]:
test2(a=2,b=9,c="Atri",d="car")

{'a': 2, 'b': 9, 'c': 'Atri', 'd': 'car'}

In [ ]:
iterator is an object to move over lists,tuples and any other iterables

In [ ]:
iter method is used

In [17]:
l=[2, 4, 6, 8, 10, 12, 14, 16,18, 20]
iterator=iter(l)
print(next(iterator))
print(next(iterator))
print(next(iterator))
print(next(iterator))
print(next(iterator))

2
4
6
8
10

In [ ]:
generator function is the function which is used to generate data one at a time without taking extra space (such as giving whole set of data in list).
it provides information one at a time while iteration occurs

In [ ]:
yield keyword is used to provide the piece of data in that iteration without storying in large memory

In [22]:
def test4():
    for i in range(10):
        if i%2!=0:
            yield i

In [23]:
test4()

In [24]:
for i in test4():
    print(i)

1
3
5
7
9

In [29]:
def prime():
    for i in range(1000):
        c=0
        for j in range(1,i+1):
            if i%j==0:
                c=c+1            
        if c==2:
            yield i

In [30]:
for i in prime():
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [48]:
def first():
    l=[]
    for i in range(100):
        c,c1=0,0
        for j in range(1,i+1):
            if i%j==0:
                c=c+1            
        if c==2 and c1<20:
            l.append(i)
            c1=c1+1
    iterator=iter(l)
    for i in range(20):
        print(next(iterator))

In [49]:
first()

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71